{% extends 'traceability/base.html' %}
{% block title %}Ajouter une Transaction - RawFlow{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center mb-4">Ajouter une Transaction</h2>
                {% if error %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endif %}
                <form method="post" class="p-4">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success w-100">Ajouter</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}