{% extends 'traceability/base.html' %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'traceability/css/dashboard.css' %}?v=1.7">
{% endblock %}

{% block content %}
<div class="full-width-card mb-4">
    <div class="card-body text-center">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if 'error' in message.tags %}alert-danger{% else %}alert-success{% endif %}" role="alert">
                    {{ message|safe }}
                </div>
            {% endfor %}
        {% endif %}
        <h2 class="text-center mb-4">Tableau de bord</h2>
        {% if is_valid %}
            <div class="alert alert-success" role="alert">La blockchain est valide.</div>
        {% else %}
            <div class="alert alert-danger" role="alert">La blockchain n'est pas valide !</div>
        {% endif %}
    </div>
</div>
<div class="container">
    <div class="row justify-content-center" style="max-width: 1200px; margin-left: 10%; margin-right: auto;">
        {% for block in blocks %}
            <div class="col-md-4 mb-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Bloc #{{ block.index }}</h5>
                        <p class="card-text"><strong>Hachage :</strong> {{ block.hash|slice:":10" }}...</p>
                        <p class="card-text"><strong>Hachage précédent :</strong> {{ block.previous_hash|slice:":10" }}...</p>
                        <p class="card-text"><strong>Timestamp :</strong> {{ block.timestamp }}</p>
                        <p class="card-text"><strong>Transactions :</strong> 
                            {% if block.transactions|length > 0 %}{{ block.transactions|safe }}{% else %}Aucune transaction{% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-center">Aucun bloc dans la blockchain.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}