{% extends 'traceability/base.html' %}
{% block title %}Tableau de bord - RawFlow{% endblock %}
{% block content %}
<div class="card mb-4">
    <div class="card-body">
        <h2 class="text-center mb-4">Tableau de bord</h2>
        {% if is_valid %}
            <div class="alert alert-success" role="alert">La blockchain est valide.</div>
        {% else %}
            <div class="alert alert-danger" role="alert">La blockchain n'est pas valide !</div>
        {% endif %}
    </div>
</div>
<div class="row">
    {% for block in blocks %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Bloc #{{ block.index }}</h5>
                    <p class="card-text"><strong>Hachage :</strong> {{ block.hash|slice:":10" }}...</p>
                    <p class="card-text"><strong>Hachage précédent :</strong> {{ block.previous_hash|slice:":10" }}...</p>
                    <p class="card-text"><strong>Timestamp :</strong> {{ block.timestamp }}</p>
                    <p class="card-text"><strong>Transactions :</strong> {{ block.transactions }}</p>
                </div>
            </div>
        </div>
    {% empty %}
        <p class="text-center">Aucun bloc dans la blockchain.</p>
    {% endfor %}
</div>
{% endblock %}