{% extends 'traceability/base.html' %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'traceability/css/password_reset_confirm.css' %}?v=1.0">
{% endblock %}

{% block content %}
<div class="login-wrapper">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 login-form-container">
            <div class="card login-container">
                <div class="card-body">
                    <h2 class="text-center mb-4">Nouveau mot de passe</h2>
                    <p class="text-center">Entrez votre nouveau mot de passe.</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary w-100 mt-3">Changer le mot de passe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}