{% extends 'traceability/base.html' %}
{% load widget_tweaks %} 

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'traceability/css/signup.css' %}">
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 offset-md-2">
        <div class="card mt-5 mb-5">
            <div class="card-body">
                <h2 class="text-center mb-4" style="font-size: 2.5rem; color: black;">Inscription</h2>
                <form method="post" class="p-4 custom-form">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-4">
                            {{ field.label_tag }}
                            {% if field.name == 'password2' %}
                                {% render_field field class="custom-field password-confirm" %}
                            {% else %}
                                {% render_field field class="custom-field" %}
                            {% endif %}
                            {% if field.help_text %}
                                <small class="text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {% if field.errors %}
                                <div class="text-danger">{{ field.errors }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <!-- Le champ role sera maintenant géré par le formulaire personnalisé -->
                    <button type="submit" class="btn btn-primary custom-button" style="background-color: #28a745; border-color: #28a745;">S'inscrire</button>
                </div>
                <p class="text-center" style="font-size: 1.1rem; color: black; margin-top: 0rem;"> <!-- Supprime la marge -->
                    Déjà inscrit ? <a href="{% url 'account_login' %}" class="text-primary">Se connecter</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}