/* Styles spécifiques pour add_transaction */
body {
    background-color: #87ceeb; 
}

.card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-body h2, .alert, .form-label {
    color: black; 
}

.custom-field {
    width: 100%; 
    max-width: 700px !important; 
    padding: 0.5rem; 
    color: black; 
}

.btn-success {
    background: #27AE60;
}

.btn-success:hover {
    background: #83eeb2;
}

.custom-button {
    width: 200px !important; 
    margin-left: auto;
    margin-right: auto;
    display: block; 
    padding: 0.5rem 0;
}