/* Styles spécifiques pour add_transaction */
body {
    background-color: #87ceeb; 
}

.card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-success {
    background: #27AE60;
}

.btn-success:hover {
    background: #219653;
}