/* Styles de base communs */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    background: linear-gradient(to right, #003087, #2C3E50);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-brand, .nav-link {
    color: #fff !important;
}

.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .btn-link:hover {
    color: #27AE60 !important;
    transition: color 0.3s ease;
}

.btn-primary {
    background: linear-gradient(to right, #003087, #0057B8);
    border: none;
}

.btn-primary:hover {
    background: linear-gradient(to right, #00256c, #0048A0);
}

.footer {
    background: linear-gradient(to right, #003087, #2C3E50);
    color: #FFFFFF;
}

.footer a {
    color: #FFFFFF;
}

.footer a:hover {
    color: #27AE60 !important;
}