.container {
    margin-left: auto;
    margin-right: auto;
}

.form-control {
    border-radius: 5px;
}

.btn-primary {
    background: linear-gradient(to right, #003087, #0057B8);
    border: none;
}

.btn-primary:hover {
    background: linear-gradient(to right, #00256c, #0048A0);
}