/* Styles spécifiques pour search */
body {
    background-color: #87ceeb; 
    padding-top: 60px; 
    padding-bottom: 60px; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

.card, .results-container {
    margin-left: auto;
    margin-right: auto; 
}

.table {
    border-radius: 5px;
    overflow: hidden;
}

.btn-success {
    background: #2ECC71;
}

.btn-success:hover {
    background: #27AE60;
}

/* Style pour le footer en bas */
footer {
    margin-top: auto; 
    padding: 20px 0;
    background-color: #f8f9fa; 
    width: 100%;
}