/* Styles spécifiques pour signup */
body {
    background-color: #87ceeb;
}

.card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.card-body {
    padding: 2rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

.custom-field {
    font-size: 1.1rem;
    color: black;
    padding: 0.3rem;
    width: 100%;
    max-width: 500px !important;
}

.password-confirm {
    max-width: 400px !important;
}

.form-label {
    font-size: 1.2rem;
    color: black;
}

.custom-button {
    font-size: 1.2rem;
    color: white;
    padding: 0.3rem 0;
    background-color: #28a745; 
    border-color: #28a745; 
    width: 200px !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.custom-button:hover {
    background-color: #218838; 
    border-color: #1e7e34; 
}

.text-primary {
    color: #0d6efd !important;
}

.text-muted {
    font-size: 0.9rem;
}