{% load i18n %}{% autoescape off %}
{% blocktranslate %}Vous avez demandé une réinitialisation de mot de passe pour votre compte utilisateur sur {{ site_name }}.{% endblocktranslate %}

{% translate "Veuillez cliquer sur le lien ci-dessous pour réinitialiser votre mot de passe :" %}
{% block reset_link %}
{{ site_url }}/reset/{{ uidb64 }}/{{ token }}/
{% endblock %}
{% translate "Si vous n'avez pas demandé cette réinitialisation, veuillez ignorer cet email." %}

{% translate "Cordialement," %}
{{ site_name }}
{% endautoescape %}